<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GEAR 14 BIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
</head>
<body>
    @if (Context.Request.Path != "/Account/login" && Context.Request.Path != "/RedefinirSenha/Index" && Context.Request.Path != "/RedefinirSenha/RedefinirSenha")
    {
        <header>
            <nav>
                <ul class="nav_header">
                    @if (User.IsInRole("Admin"))
                    {
                        <img src="~/images/logoSSAG.png" alt="Logo do sistema" class="logo_ssag">
                        <a asp-controller="Dashboard" asp-action="index">Dashboard</a>
                        <a asp-controller="Usuarios" asp-action="index">Usuários</a>
                        <a asp-controller="Solicitacoes" asp-action="index">Solicitações</a>
                    }
                    <a asp-controller="Items" asp-action="index">Estoque</a>
                    <a asp-controller="Emprestimo" asp-action="index">Emprestimo</a>
                </ul>
            </nav>
            <div class="direita_header">
                <div class="perfil">
                    <div class="usuario">
                        <h2>@User.Identity.Name</h2>
                        <form id="botaoLogin" asp-controller="Account" asp-action="Logout" method="post" style="display:none; background-color: #D9D9D9; padding: 0; box-shadow: 0 0 0 0;">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </div>
            </div>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.IsInRole("User"))
    {
        <script src="~/js/header.js" asp-append-version="true"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
