@model SiteMVC.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/items.css" asp-append-version="true" />


<h1>Adicionar Usuário</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label"></label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalEmprestimos" class="control-label"></label>
                <input asp-for="TotalEmprestimos" class="form-control" />
                <span asp-validation-for="TotalEmprestimos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atrasos" class="control-label"></label>
                <input asp-for="Atrasos" class="form-control" />
                <span asp-validation-for="Atrasos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmprestimosAtivos" class="control-label"></label>
                <input asp-for="EmprestimosAtivos" class="form-control" />
                <span asp-validation-for="EmprestimosAtivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar usuário" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
