<link rel="stylesheet" href="~/css/emprestimo.css" asp-append-version="true" />

<form class="form_emprestimo" asp-action="Emprestimo" method="post">
    <div class="campo_form">
        <label for="item">Item desejado</label>
        <input type="text" name="item" required />
    </div>
    <div class="campo_form">
        <label for="tipo">Tipo</label>
        <input type="text" name="tipo" required />
    </div>
    <div class="campo_form">
        <label for="id">Identificação</label>
        <input type="text" name="item" required />
    </div>
    <button type="submit">SOLICITAR EMPRÉSTIMO</button>
</form>