body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 5px;
}

    .dashboard div {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 150%;
        height: auto; /* Ajusta a altura de acordo com o conteúdo */
        max-width: 450px; /* Limita a largura máxima */
        text-align: center;
    }

    .dashboard h2 {
        font-size: 1.2em;
        color: #666;
        margin-bottom: 10px;
    }

    .dashboard p {
        font-size: 2em;
        color: #000;
        margin: 0;
    }

/* Responsividade para telas menores */
@media(max-width: 1000px) {
    .dashboard div {
        width: 300px;
    }
}
