/* Centralizar a section de login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* A seção ocupará a altura total da janela */
    padding: 20px;
}

    /* Estilizar o formulário */
    .login h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 20px;
    }

    .login form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        width: 100%;
        max-width: 400px; /* Largura máxima do formulário */
    }

        /* Estilizar os labels e inputs */
        .login form div {
            margin-bottom: 15px;
        }

    .login label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.3s ease;
    }

        .login input[type="text"]:focus,
        .login input[type="password"]:focus {
            border-color: #007bff; /* Cor da borda ao focar no input */
        }

    /* Estilizar o botão de login */
    .login button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .login button[type="submit"]:hover {
            background-color: #0056b3; /* Cor de fundo ao passar o mouse */
        }

    /* Estilizar a mensagem de erro */
    .login p {
        margin-top: 15px;
        font-size: 0.9rem;
    }
