html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

table {
    width: 100%;
}

.container {
    width: 100%;
}

/* Estilização do link "Voltar" */
a {
    text-decoration: none !important; /* Remove sublinhado dos links */
    display: inline-block !important; /* Exibe o link como bloco inline */
}

    /* Efeito ao passar o mouse sobre o link */
a:hover {
    text-decoration: underline !important; /* Sublinhado no hover */
}

/* Estilização do formulário */
form {
    background-color: white; /* Fundo branco para o formulário */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}